<div class="contents">
   <div class="crm mb-25">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-12">
               <div class="breadcrumb-main">
                  <h4 class="text-capitalize breadcrumb-title">Dashboard</h4>
                  <div class="breadcrumb-action justify-content-center flex-wrap">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Dashboard</a></li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
            <div class="col-xxl-6">
               <div class="row">
                  <div class="col-xxl-6 col-sm-6 mb-25">
                     <!-- Card 1  -->
                     <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                        <div class="overview-content w-100">
                           <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                              <div class="ap-po-details__titlebar">
                                 <h1>100</h1>
                                 <p>Total Users</p>
                              </div>
                              <div class="ap-po-details__icon-area">
                                 <div class="svg-icon order-bg-opacity-primary color-primary">
                                    <i class="uil uil-users-alt"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Card 1 End  -->
                  </div>
                  <div class="col-xxl-6 col-sm-6 mb-25">
                     <!-- Card 2 -->
                     <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                        <div class="overview-content w-100">
                           <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                              <div class="ap-po-details__titlebar">
                                 <h1>100</h1>
                                 <p>Total Service Providers</p>
                              </div>
                              <div class="ap-po-details__icon-area">
                                 <div class="svg-icon order-bg-opacity-info color-info">
                                    <i class="uil uil-user"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Card 2 End  -->
                  </div>
                  <div class="col-xxl-6 col-sm-6 mb-25">
                     <!-- Card 3 -->
                     <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                        <div class="overview-content w-100">
                           <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                              <div class="ap-po-details__titlebar">
                                 <h1>100</h1>
                                 <p>Total Employees</p>
                              </div>
                              <div class="ap-po-details__icon-area">
                                 <div class="svg-icon order-bg-opacity-secondary color-secondary">
                                    <i class="uil uil-users-alt"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Card 3 End  -->
                  </div>
                  <div class="col-xxl-6 col-sm-6 mb-25">
                     <!-- Card 4  -->
                     <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                        <div class="overview-content w-100">
                           <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                              <div class="ap-po-details__titlebar">
                                 <h1>0</h1>
                                 <p>7 Days Bookings</p>
                              </div>
                              <div class="ap-po-details__icon-area">
                                 <div class="svg-icon order-bg-opacity-warning color-warning">
                                    <i class="uil uil-usd-circle"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Card 4 End  -->
                  </div>
               </div>
            </div>
            <div class="col-xxl-6 mb-25">
               <div class="card border-0 h-100">
                  <div class="card-header">
                     <h6>GOD's View</h6>
                  </div>
                  <div class="card-body pt-sm-30 pb-sm-50 pb-30">
                     <div class="tab-content">
                        <div class="tab-pane active show" id="se_region-today" role="tabpanel" aria-labelledby="se_region-today-tab">
                           <div class="row">
                              <div class="col-md-12 d-flex align-items-center justify-content-center">
                                 <div class="regions-svg">
                                    <div id="s_region-map_T"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-12 mb-25">
               <div class="card border-0 h-100">
                  <div class="card-header border-0 pb-md-0 pb-20">
                     <h4>Sales Reports</h4>
                     <div class="card-extra">
                        <div class="dropdown dropleft">
                           <a href="#" role="button" id="else" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img src="img/svg/more-horizontal.svg" alt="more-horizontal" class="svg">
                           </a>
                           <div class="dropdown-menu" aria-labelledby="else">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-body pt-0 pb-25 mt-n10">
                     <div class="label-detailed">
                        <div class="label-detailed__single">
                           <span class="label-detailed__type label-detailed__type--primary">
                              Orders
                           </span> 
                           <strong class="label-detailed__total">$8,550</strong>  
                        </div>
                        <div class="label-detailed__single">
                           <span class="label-detailed__type label-detailed__type--info">
                              Commission
                           </span> 
                           <strong class="label-detailed__total">$5,550</strong>  
                        </div>
                     </div>
                     <div class="parentContainer position-relative">
                        <div>
                           <canvas id="salesReports"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- ends: .row -->
      </div>
   </div>
</div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyClHnhHXNS5wm8bi38y-8FWW37ntM_Y490"></script>
<!-- <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClHnhHXNS5wm8bi38y-8FWW37ntM_Y490&libraries=places&callback=initialize"></script> -->
<script src="assets/vendor_assets/js/Chart.min.js"></script>
<script src="assets/theme_assets/js/charts.js"></script>