<div class="contents">
    <div class="crm mb-25">
       <div class="container-fluid">
          <div class="row ">
             <div class="col-lg-12">

                <div class="breadcrumb-main">
                   <h4 class="text-capitalize breadcrumb-title">Manual Booking</h4>
                   <div class="breadcrumb-action justify-content-center flex-wrap">
                      <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="uil uil-airplay"></i>Manual Booking</a></li>
                         </ol>
                      </nav>
                   </div>
                </div>

             </div>
             <div class="col-12 mb-30">
                <div class="card card-horizontal card-default card-md mb-4">
                    <div class="card-header">
                       <h6>User Details</h6>
                    </div>
                    <div class="card-body py-md-30">
                       <div class="horizontal-form">
                          <form action="#">
                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="element-text3" class=" col-form-label il-gray fs-14 fw-500 align-center mb-10">Country</label>
 
                                </div>
                                 <div class="col-sm-9">
                                    <select class="form-control ih-medium ip-light radius-xs b-light px-15 select2" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                     </select> 
                                </div>
                                
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="element-text3" class=" col-form-label color-dark fs-14 fw-500 align-center">Phone</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="number" class="form-control ih-medium ip-light radius-xs b-light px-15" id="element-text3" placeholder="017123456789">
                                </div>
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">First Name</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="inputName" placeholder="Duran Clayton">
                                </div>
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Last Name</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="inputName" placeholder="Duran Clayton">
                                </div>
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="element-text" class=" col-form-label color-dark fs-14 fw-500 align-center">Email</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="email" class="form-control ih-medium ip-light radius-xs b-light px-15" id="element-text" placeholder="username@email.com">
                                </div>
                             </div>
                             <div class="d-flex justify-content-between">
                                <p></p>
                                <button class="btn btn-primary btn-default btn-squared ">Continue
                                </button>
                             </div>
                          </form>
                       </div>
                    </div>
                 </div>
                 <div class="card card-horizontal card-default card-md mb-4">
                    <div class="card-header">
                       <h6>Select Service Type</h6>
                    </div>
                    <div class="card-body py-md-30">
                       <div class="horizontal-form">
                          <form action="#">
                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="element-text3" class=" col-form-label il-gray fs-14 fw-500 align-center mb-10">Select Service Type</label>
 
                                </div>
                                 <div class="col-sm-9">
                                    <select class="form-control ih-medium ip-light radius-xs b-light px-15 select2" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                     </select> 
                                </div>
                                
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="element-text3" class=" col-form-label color-dark fs-14 fw-500 align-center">Instructions</label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>                                </div>
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Discount Code</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="Coupon Code" placeholder="Coupon Code">
                                </div>
                             </div>
                             <div class="d-flex justify-content-between">
                                <button class="btn btn-secondary btn-default btn-squared ">Back
                                </button>
                                <button class="btn btn-primary btn-default btn-squared ">Continue
                                </button>
                             </div>
                          </form>
                       </div>
                    </div>
                 </div>
                 <div class="card card-horizontal card-default card-md mb-4">
                    <div class="card-header">
                       <h6>Select Date/Time</h6>
                    </div>
                    <div class="card-body py-md-30">
                       <div class="horizontal-form">
                          <form action="#">
                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="element-text3" class=" col-form-label il-gray fs-14 fw-500 align-center mb-10">Select Date</label>
 
                                </div>
                                 <div class="col-sm-9">
                                    <div class="dm-date-picker">
                                        <div class="form-group mb-0 form-group-calender">
                                           <div class="position-relative">
                                              <input type="text" class="form-control form-control-lg hasDatepicker" id="datepicker33" placeholder="January 20, 2018">
                                              <a href="#"><img class="svg" src="img/svg/calendar.svg" alt="calendar"></a>
                                           </div>
                                        </div>

                                     </div>
                                </div>
                                
                             </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="element-text3" class=" col-form-label color-dark fs-14 fw-500 align-center">Select Time</label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="time-picker">
                                        <div class="form-group mb-0">
                                           <div class="input-container w-100 icon-right position-relative">
                                              <span class="input-icon icon-right">
                                                 <img class="svg" src="img/svg/clock.svg" alt="clock">
                                              </span>
                                              <input type="text" class="form-control form-control-lg hasWickedpicker" id="time-picker" placeholder="Select time" onkeypress="return false;" aria-showingpicker="true" tabindex="-1">
                                           </div>
                                        </div>
                                     </div>                               
                                    </div>
                                </div>
                             <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Washer Name</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="washer" placeholder="Car Washer Name">
                                </div>
                             </div>
                             <div class="d-flex justify-content-between">
                                <button class="btn btn-secondary btn-default btn-squared ">Back
                                </button>
                                <button class="btn btn-primary btn-default btn-squared ">Continue
                                </button>
                             </div>
                          </form>
                       </div>
                    </div>
                </div>
                <div class="card card-horizontal card-default card-md mb-4">
                    <div class="card-header">
                       <h6>Address</h6>
                    </div>
                    <div class="card-body py-md-30">
                       <div class="horizontal-form">
                          <form action="#">
                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                   <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Address</label>
                                </div>
                                <div class="col-sm-9">
                                   <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="washer" placeholder="Address">
                                </div>
                             </div>
                             <div class="google-map" id="google-map-basic"></div>
                          </form>
                       </div>
                    </div>
                 </div>
                
                <div class="d-flex justify-content-between">
                    <p></p>
                    <button class="btn btn-primary btn-default btn-squared ">Book
                    </button>
                 </div>
            </div>
          </div>
          <!-- ends: .row -->
       </div>
    </div>
 </div>
 
 <script>
    $(function(){
       $('#DataTable').DataTable()
       $("#time-picker,#time-picker2").wickedpicker()

       $('.select2').select2()
       
    })
 </script>
 <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgYKHZB_QKKLWfIRaYPCadza3nhTAbv7c"></script>
