<div class="contents">
    <div class="crm mb-25">
       <div class="container-fluid">
          <div class="row ">
             <div class="col-lg-12">
                <div class="breadcrumb-main">
                   <h4 class="text-capitalize breadcrumb-title">Users Cars</h4>
                   <div class="breadcrumb-action justify-content-center flex-wrap">
                      <nav aria-label="breadcrumb">
                         <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="uil uil-airplay"></i>Users Cars</a></li>
                         </ol>
                      </nav>
                   </div>
                </div>
             </div>
             <div class="col-12 mb-30">
               <div class="support-ticket-system support-ticket-system--search">
                  <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                     <div class="table-responsive">
                        <table class="table mb-0 table-borderless" id="DataTable">
                           <thead>
                              <tr class="userDatatable-header">
                                 <th>
                                    <span class="userDatatable-title">User</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Car Plate Emirate</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Car Plate</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Car Type</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Car Model</span>
                                 </th>
                                 <th>
                                    <span class="userDatatable-title">Car Make</span>
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                               <tr>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            user@mail.com
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            Abu Dahbi
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content--subject">
                                            42342
                                        </div>
                                    </td>
                                    <td>
                                        <div class="image-link">
                                            <a class="image-popup-vertical-fit" href="car.png">
                                                <img class="img-responsive thumbnail" src="car.png" width="35" height="30">
                                            </a>
                                        </div>
                                        <div class="userDatatable-content d-flex">
                                            Sedan
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-flex">
                                            Honda
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content d-flex">
                                            AMG3
                                        </div>
                                    </td>
                                </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
          </div>
          <!-- ends: .row -->
       </div>
    </div>
 </div>

 <script>
    $(function(){
       $('#DataTable').DataTable()
    })
 </script>