<div class="contents">
  <div class="crm mb-25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-main">
            <h4 class="text-capitalize breadcrumb-title">Users</h4>
            <div class="breadcrumb-action justify-content-center flex-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#"><i class="uil uil-airplay"></i>Users</a>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-12 mb-30">
          <div class="support-ticket-system support-ticket-system--search">
            <div
              class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1"
            >
              <div class="table-responsive">
                <table class="table mb-0 table-borderless" id="DataTable">
                  <thead>
                    <tr class="userDatatable-header">
                      <th>
                        <span class="userDatatable-title">User Name</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Email</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Sign Up Date</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Mobile</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Status</span>
                      </th>
                      <th class="actions">
                        <span class="userDatatable-title">Actions</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="usersData"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ends: .row -->
    </div>
  </div>
</div>
<script src="js/customers.js"></script>
