table.dataTable>thead .sorting_asc:before,table.dataTable>thead .sorting:before{
    line-height: 2;
}

table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after,table.dataTable>thead .sorting:after{
    line-height: 2;
}

.select2-container{
    z-index: 99999;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow:after{
    line-height: 6;
 }
 .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 48px;
 }
 .select2-container--default.select2-container--focus .select2-selection--single{
    min-height: 3.125rem;
 }
 .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
    min-height: 3.125rem;
 }
 .select2-container--default .select2-selection--single{
    min-height: 3.125rem;
 }

 .lg-backdrop {
    z-index: 9999;
}
.lg-outer {
    opacity: 1;
    z-index: 99999;
}

.wickedpicker{
    z-index: 9999;
  box-shadow: 0px 1px 6px 1px #3333;
 }

 .select2-container--default .select2-selection--single .select2-selection__rendered{
   line-height: 48px !important;
 }

 /* Rating Star Widgets Style */
.rating-stars ul {
   list-style-type:none;
   padding:0;
   
   -moz-user-select:none;
   -webkit-user-select:none;
 }
 .rating-stars ul > li.star {
   display:inline-block;
   
 }
 
 /* Idle State of the stars */
 .rating-stars ul > li.star > i.fa {
   font-size: 13px; /* Change the size of the stars */
   color:#ccc; /* Color on idle state */
 }
 
 /* Hover state of the stars */
 .rating-stars ul > li.star.hover > i.fa {
   color:#FFCC36;
 }
 
 /* Selected state of the stars */
 .rating-stars ul > li.star.selected > i.fa {
   color:#FF912C;
 }